.main-page {
    width: 920px;
    margin: auto;
    margin-top: 60px;
}

.navbar {
    -webkit-box-shadow: 0 4px 4px 0px #BDBDBD;
    -moz-box-shadow: 0 4px 4px 0px #BDBDBD;
    box-shadow: 0 4px 4px 0px #BDBDBD;
}

.greeting {
    padding-top: 20px;
}

.search-box {
    margin: 20px 0px 20px 0px;
    padding: 0px;
}

.search-results {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    padding: 0px 40px 0px 40px;
}

.flashes {
    margin: 0px 20px 15px 20px;
}


.biz-listing {
    margin: auto;
    font-family: "Cabin", Arial, sans-serif;
}

.biz-image {
    margin-right: 20px;
    float: left;
}

.biz-text {
    float: left;
}

.biz-name-link {
    font-size: 20px;
}

.btn-outline-primary {
    float: right;
}

p {
    margin-bottom: 2px;
}