{% extends "main.html" %}
{% include "header.html" %}

{% block content %}
    <div class="container" style="margin-top:20px; font-size: 15px;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success" style="text-align: center;">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    </div>

    <div class="container" style="margin: auto; max-width: 680px;">
        <div style="padding-top: 25px;">
            <h4>Edit list description</h4>
        </div>

        <form id="add-biz-to-db" method="post" style="margin: auto; padding-top: 30px;">
            <div class="form-group">
                <label>List Name: {{list.name}}</label>
            </div>

            <div class="form-group">
                <label>Created By: {{user.name}} (<em>User ID: {{user.id}}</em>)</label>
            </div>

            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" name="description" rows="2" placeholder="{{list.description}}"></textarea>
                <small id="descHelp" class="form-text text-muted">Enter a description for your list (optional).</small>
            </div>
            <br>

            <div class="form-group">
                <button type="submit" class="btn-primary btn">Save Changes</button>
            </div>
        </form>
    </div>

{% endblock %}